*   {
    font-family: Helvetica, Arial, sans-serif;
    background-color: slategray;
    color: #ffff66;
    background: url(./wood-plank2.jpg) no-repeat center fixed;
    background-size: cover;
}

h1  {
    text-align: center;
}

p.personal, li   {
    font-size: 20px;
}

.head a {
    text-decoration: none;
    font-style: italic;
    background: darkolivegreen;
}

.head button {
    background: darkolivegreen;
    border: solid;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
}

p.foot {
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    text-align: bottom;
    position: absolute;
    bottom: 0;
    width: 100%;
}