*   {
    font-family: Helvetica, Arial, sans-serif;
    background-color: slategray;
    color: #ffff66;
    background: url(./wood-plank2.jpg) no-repeat center fixed;
    background-size: cover;
}

h1  {
    text-align: center;
}

p.personal, li   {
    font-size: 20px;
}

.head, a {
    text-decoration: none;
    font-style: italic;
}

p.foot {
    text-decoration: none;
    font-style: italic;
    text-align: bottom;
    position: absolute;
    bottom: 0;
    width: 100%;
}