*   {
    font-family: Helvetica, Arial, sans-serif;
    background-color: slategray;
    color: #ffff66;
    background: url(./wood-plank2.jpg) no-repeat center fixed;
    background-size: cover;
}

h1  {
    display: flex;
    justify-content: center;
}

p.intro, li   {
    display: flex;
    font-size: 20px;
    justify-content: center;
}

a.head   {
    display: inline-flex;
    text-decoration: none;
    font-style: italic;
    font-size: 18px;
}

.head button {
    display: inline-flex;
    border: inset darkolivegreen;
    padding: 5px 15px;
    justify-content: center;
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    display: flex;
    justify-content: center;
  }

  p.foot {
    border: 5px inset transparent;
    border-color: darkolivegreen;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    text-align: bottom;
    position: absolute;
    bottom: 0;
    width: auto;
    padding: 5px 5px;
}